.button {
  &--green {
    background-color: @light-green;
    border: none;
    width: 100%;
    .ff-oswald;
    font-size: 16px;
    .f-normal;
    line-height: 1.25;
    letter-spacing: normal;
    .center;
    text-transform: uppercase;
    color: @white;

    &:hover,
    :focus {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--grey {
    background-color: #f2f2f2;
    border: none;
    .ff-oswald;
    font-size: 16px;
    .f-normal;
    line-height: 1.25;
    .center;
    text-transform: uppercase;
    color: @dark-grey;
  }
}
