.footer {
  margin: 0;
  padding: 0;
}

.footer__container {
  background-color: #f2f2f2;
}

.footer__logo {
  position: relative;
  margin-top: 39px;
  margin-bottom: 29px;
}

.footer__column {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list {
  .mp-zero;
  .ls-none;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 23px;
  padding-bottom: 17px;
}


.footer__text {
  font-family: Arial;
  font-size: 16px;
  .f-normal;
  line-height: 1;
  text-align: left;
  color: @dark-grey;
  margin-top: 15px;
}

.footer__item {
  margin: 0px 15px;
  margin-right: 23px;
}

.footer__copyright {
  .no-decor;
  display: flex;
  justify-content: space-between;
  .center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 21px;

}

.footer__developer {
  fill: #666666;
  margin-top: 4px;
  margin-right: -7px;
}

@media (min-width: @tablet-width) {
  .footer__column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__list {
    border: none;
  }

  .footer__logo {
    margin: 64px 0;
  }

  .footer__text {
    margin-top: 64px;
  }

  .footer__developer {
    margin-top: 54px;
  }
}
