.header {
  min-width: 320px;
  min-height: 65px;
  margin: 0;
  padding: 0;
  border-bottom: 1px #e6e6e6 solid;
}

.header__logo {
  display: block;
  position: relative;
  margin-left: 20px;
  margin-top: 11px;
}


.nav {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  .f-normal;
  .center;
  color: @black;
  .ff-oswald;
  .t-upper;
}

.nav__toggle {
  width: 25px;
  height: 19px;
  background-image: url(../img/icon-mobile-menu.svg);
  border: none;
  background-color: inherit;
  margin-right: 0;
  padding: 0;
  display: block;
  position: relative;
  left: 276px;
  bottom: 31px;
}

.nav__list {
  .ls-none;
  padding: 0;
  margin: 0;
  .ff-oswald;
}

.nav__item {
  border-top: 1px #e6e6e6 solid;
  ;
  padding-bottom: 24px;
  padding-top: 24px;
  .ff-oswald;
}

.nav__link {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 0;
  color: @black;
  text-align: center;
}
